<!-- seccion para la parte de arriba informativa -->
<section class="relative rounded-2xl py-6 px-6 md:py-8 md:px-10 w-full max-w-8xl bg-white mx-auto">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center w-full">
        
        <!-- Bloque de texto -->
        <div class="flex flex-col items-start space-y-4">
            <h1 class="text-[#1D8F93] text-4xl font-extrabold leading-tight">
                Mi Perfil
            </h1>
            <p class="text-black text-2xl font-light">
                Información médica y dental completa
            </p>

            <button
                class="bg-[#C3F2F3] text-[#545454] text-lg md:text-2xl font-semibold tracking-wider rounded-lg shadow-md px-8 py-3 hover:scale-105 transition-transform duration-300"
            >
                Llenar formulario médico
            </button>
        </div>

        <!-- Icono alineado al extremo derecho -->
        <img
            src="assets/icons/editar-datos.svg"
            alt="Editar datos"
            title="Editar datos"
            class="w-14 h-14 object-contain mt-8 md:mt-0 self-center md:self-start cursor-pointer hover:scale-105 transition-transform duration-300"
        />
    </div>
</section>


<!-- seccion para las alergias -->
<section>

</section>

<!-- seccion para las condiciones medicas -->
<section>

</section>
