<!-- seccion para la parte de arriba informativa -->
<section class="relative rounded-2xl py-6 px-6 md:py-8 md:px-10 w-full max-w-8xl bg-white mx-auto">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center w-full">
        
        <!-- Bloque de texto -->
        <div class="flex flex-col items-start space-y-4">
            <h1 class="text-[#1D8F93] text-4xl font-extrabold leading-tight">
                Mi Perfil
            </h1>
            <p class="text-black text-2xl font-light">
                Información médica y dental completa
            </p>

            <button
                class="bg-[#C3F2F3] text-[#545454] text-lg md:text-2xl font-semibold tracking-wider rounded-lg shadow-md px-20 py-3 hover:scale-105 transition-transform duration-300"
            >
                Llenar formulario médico
            </button>
        </div>

        <!-- Icono alineado al extremo derecho -->
        <img
            (click)="abrirModalEditarPac()"
            src="assets/icons/editar-datos.svg"
            alt="Editar datos"
            title="Editar datos"
            class="w-14 h-14 object-contain mt-8 md:mt-0 self-center md:self-start cursor-pointer hover:scale-105 transition-transform duration-300"
        />
    </div>

    <!-- Modal -->
    @if(modalEditar() && paciente()) {
        <app-modal-editar-paciente
            [paciente]="paciente()!"
            (actualizar)="actualizarPaciente($event)"
            (cerrar)="cerrarModal()">
        </app-modal-editar-paciente>
    }

</section>


<!-- Seccion para Alergias y Condiciones Médicas -->
<section class="w-full px-10 max-w-8xl mx-auto mt-6 flex flex-col md:flex-row gap-12 mb-10">
    <!-- Tarjeta de Alergias -->
    <div class="flex-1 bg-[#F5F8FC] rounded-xl shadow-md p-6 relative">
        <div class="flex items-center justify-between mb-4">
        <div class="flex items-center gap-3 mb-4">
            <img src="assets/icons/alergia.svg" alt="Alergias" class="w-12 h-12">
            <h2 class="text-[#105053] text-3xl font-bold">Alergias</h2>
        </div>
        <button
            class="flex items-center gap-2 bg-[#C3F2F3] text-[#545454] text-lg font-semibold px-5 py-2 rounded-lg shadow hover:scale-105 transition">
            <img src="assets/icons/agregar.svg" alt="Agregar" class="w-8 h-8">
                Agregar
        </button>
        </div>

        <!-- Listado de Alergias -->
        <div class="space-y-4">
            @for (alergia of alergias; track alergia.id_alergia; let i = $index) {
                <div class="flex items-start rounded-lg p-4 shadow-sm"
                    [class.bg-red-200/60]="alergia.severidad.toLowerCase() === 'alta'"
                    [class.border-l-8]="true"
                    [class.border-red-700]="alergia.severidad.toLowerCase() === 'alta'"
                    [class.bg-yellow-100/60]="alergia.severidad.toLowerCase() === 'media'"
                    [class.border-yellow-400]="alergia.severidad.toLowerCase() === 'media'"
                    [class.bg-green-100/60]="alergia.severidad.toLowerCase() === 'baja'"
                    [class.border-green-400]="alergia.severidad.toLowerCase() === 'baja'"
                >
                    <div class="flex flex-col flex-1">
                        <h3 class="text-neutral-700 text-xl font-bold">{{ alergia.nombre }}</h3>
                        <p class="text-neutral-600 text-base">{{ alergia.notas }}</p>
                    </div>

                    <div class="flex items-center gap-4 ml-6 self-start">
                        <span 
                            class="text-sm font-bold px-4 py-2 rounded-md whitespace-nowrap"
                            [class.bg-red-700/25]="alergia.severidad.toLowerCase() === 'alta'"
                            [class.text-red-950]="alergia.severidad.toLowerCase() === 'alta'"
                            [class.bg-orange-300/50]="alergia.severidad.toLowerCase() === 'media'"
                            [class.text-yellow-950]="alergia.severidad.toLowerCase() === 'media'"
                            [class.bg-green-300]="alergia.severidad.toLowerCase() === 'baja'"
                            [class.text-green-950]="alergia.severidad.toLowerCase() === 'baja'"
                        >
                            Severidad {{ alergia.severidad | titlecase }}
                        </span>
                        
                        
                        <button class="bg-red-700 w-12 h-12 p-2 rounded-lg hover:scale-105 transition">
                            <img src="assets/icons/cancelar.svg" alt="Eliminar" class="w-8 h-8">
                        </button>
                    </div>
                </div>
            }

            @if (!alergias || alergias.length === 0) {
                <p class="text-neutral-500 text-base italic">No hay alergias registradas.</p>
            }
        </div>

    </div>

    <!-- Tarjeta de Condiciones Médicas -->
    <div class="flex-1 bg-[#F5F8FC] rounded-xl shadow-md p-6 relative">
        <!-- Encabezado -->
        <div class="flex items-center justify-between mb-4">
            <div class="flex items-center gap-3 mb-4">
                <img src="assets/icons/cond-med.svg" alt="Condiciones Médicas" class="w-12 h-12">
                <h2 class="text-[#105053] text-3xl font-bold">Condiciones Médicas</h2>
            </div>
            <button
                class="flex items-center gap-2 bg-[#C3F2F3] text-[#545454] text-lg font-semibold px-5 py-2 rounded-lg shadow hover:scale-105 transition">
                <img src="assets/icons/agregar.svg" alt="Agregar" class="w-8 h-8">
                    Agregar
            </button>
        </div>

        <!-- Condiciones registradas -->
        <div class="space-y-4">
            @for (cond of condiciones; track cond.id_condicion_medica; let i = $index) {
                <div class="flex items-center bg-zinc-200 border-l-8 border-teal-900 rounded-lg p-4 shadow-sm">
                <div class="flex flex-col flex-1">
                    <h3 class="text-teal-900 text-xl font-bold">{{ cond.nombre }}</h3>
                    <p class="text-neutral-600 text-base">
                        Diagnosticada en: {{ cond.a_o_diagnostico }}<br>
                        Medicamento: {{ cond.medicamentos_formateados }}
                    </p>
                </div>
                <div class="flex items-center justify-center gap-4 ml-6">
                    <span
                        class="text-sm font-bold px-4 py-2 rounded-md whitespace-nowrap"
                        [class.bg-[#C8FCCA]]="cond.condicion_controlada === 'si'"
                        [class.text-green-950]="cond.condicion_controlada === 'si'"
                        [class.bg-orange-300/50]="cond.condicion_controlada === 'no'"
                        [class.text-yellow-950]="cond.condicion_controlada === 'no'"
                    >
                        {{ cond.condicion_controlada === 'si' ? 'Controlada' : 'No controlada' }}
                    </span>



                    <button class="bg-red-700 w-12 h-12 p-2 rounded-lg hover:scale-105 transition">
                        <img src="assets/icons/cancelar.svg" alt="Eliminar" class="w-8 h-8">
                    </button>
                </div>
                </div>
            }
            @if (!condiciones || condiciones.length === 0) {
                <p class="text-neutral-500 text-base italic">No hay condiciones médicas registradas.</p>
            }
        </div>
    </div>
</section>

