
<div class="w-full max-w-5xl mx-auto p-2 sm:p-4 xl:p-4 bg-white rounded-xl shadow-md overflow-x-auto">
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>


@if (modalCrearCita()) {
    <app-modal-create-cita
        [fechaInicial]="fechaSeleccionada()"
        [horaInicial]="horaSeleccionada()"
        (cerrar)="modalCrearCita.set(false)"
        (crear)="onCitaCreada($event)"
        >
    </app-modal-create-cita>
}

@if (modalSolicCita()) {
    <app-modal-solic-cita
        [fechaInicial]="fechaSeleccionada()"
        [horaInicial]="horaSeleccionada()"
        (cerrar)="modalSolicCita.set(false)"
        >
    </app-modal-solic-cita>
}


