<section class="relative rounded-2xl py-4 px-4 sm:px-6 md:py-8 md:px-10 w-full max-w-8xl bg-white mx-auto">

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8 md:gap-10 items-start">

        <!-- Columna izquierda -->
        <div class="lg:col-span-1 flex flex-col justify-between h-full w-full space-y-6">

            <!-- Parte superior: títulos y botón principal -->
            <div class="flex flex-col space-y-4 sm:space-y-6">
                <h1 class="text-[#1D8F93] text-3xl md:text-4xl xl:text-5xl font-extrabold leading-tight">
                    Mi Agenda
                </h1>

                <p class="text-black text-lg md:text-xl xl:text-2xl font-light">
                    Eventos
                </p>

                <button (click)="abrirModalCrearEvento()"
                    class="bg-[#C3F2F3] text-[#545454] text-lg xl:text-xl 
                            font-semibold tracking-wider rounded-lg shadow-md 
                            px-10 sm:px-14 md:px-16 py-2.5 sm:py-3 
                            hover:scale-105 transition-transform duration-300
                            w-full sm:w-auto text-center">
                    Agendar Evento
                </button>
            </div>

            <!-- Parte inferior: botones secundarios -->
            <div class="flex flex-col sm:flex-row items-center sm:items-center 
                        gap-4 sm:gap-16 mt-4 w-full">

                <!-- Botón Ir a Citas -->
                <button
                    (click)="irACitas()"
                    class="flex items-center gap-4 lg:gap-2 bg-[#1D8E92] text-white text-base md:text-lg font-bold 
                            tracking-wider px-4 sm:px-6 py-2 sm:py-3 rounded-xl shadow-lg 
                            hover:scale-105 transition w-full sm:w-auto justify-center">
                    <img src="assets/icons/ic-citas.svg" alt="Ir a Citas" class="w-5 h-5 sm:w-6 sm:h-6">
                    Ir a Citas
                </button>

                <!-- Engranaje -->
                <button 
                    (click)="abrirModalHorario()"
                    class="bg-gray-200 rounded-full shadow-lg hover:scale-105 
                            transition-transform duration-300 cursor-pointer
                            flex items-center justify-center
                            w-12 h-12 sm:w-14 sm:h-14 flex-shrink-0">
                    <img src="assets/icons/settings.svg" alt="Configuración" title="Configuración"
                        class="w-6 h-6 sm:w-8 sm:h-8" />
                </button>

            </div>

        </div>

        <!-- Columna derecha (Calendario) -->
        <div class="lg:col-span-3 rounded-2xl mt-6 lg:mt-0 w-full min-h-[400px]">
            <app-calendario class="block w-full h-full"></app-calendario>
        </div>

    </div>

</section>


<section>
    <div class="bg-[#C3F2F3] rounded-lg p-6 flex flex-col max-h-[500px]">

        <!-- BUSCADOR + FILTRO -->
        <div
            class="px-4 mb-4 mt-6 w-full 
                flex flex-col md:flex-row 
                items-stretch md:items-center 
                gap-4 md:gap-6 flex-shrink-0">

            <!-- BUSCADOR -->
            <div class="relative flex-1 max-w-full md:max-w-7xl md:-translate-y-3">
                <input
                    type="text"
                    placeholder="Buscar por título o notas..."
                    (input)="actualizarBusqueda($event.target.value)"
                    class="w-full pl-14 pr-4 rounded-xl border border-gray-300 shadow-sm
                            h-11 md:h-12
                            text-sm md:text-base xl:text-lg
                            focus:outline-none focus:ring-2 focus:ring-teal-600"
                />
                <img
                    src="assets/icons/buscar.svg"
                    class="w-5 h-5 md:w-6 md:h-6 absolute left-4 top-1/2 -translate-y-1/2 opacity-70"
                />
            </div>

            <!-- FILTRO -->
            <mat-form-field
                appearance="outline"
                class="w-full md:w-72 lg:w-80 custom-select">
                <mat-select [value]="filtro()" (selectionChange)="actualizarFiltro($event.value)">
                    <mat-option value="todos">Todos</mat-option>

                    @for (t of tiposEvento; track t.id_tipo_evento) {
                        <mat-option [value]="t.nombre.toLowerCase()">
                            {{ t.nombre }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <!-- CARDS -->
        <div class="flex-1 overflow-y-auto">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">

                @for (ev of eventosFiltrados(); track ev.id_evento) {
                <div
                    class="bg-white rounded-xl shadow-md hover:shadow-lg transition-shadow duration-300 p-5 w-full">

                    <!-- Header -->
                    <div
                        class="flex flex-col sm:flex-row sm:items-start justify-between gap-3 sm:gap-4">

                        <!-- Título -->
                        <h3 class="text-lg sm:text-xl xl:text-2xl mb-4 xl:mb-0 font-extrabold text-black flex-1 min-w-0">
                            {{ ev.titulo }}
                        </h3>

                        <!-- Badge y botones -->
                        <div class="flex items-center gap-4 sm:gap-6 flex-wrap sm:flex-nowrap">

                            <!-- Badge -->
                            <div
                                class="rounded-full px-3 py-1.5 sm:px-4 sm:py-2 flex items-center justify-center"
                                [ngClass]="{
                                    'bg-green-200 text-green-950': ev.tipo_evento.nombre === 'Curso',
                                    'bg-purple-100 text-purple-700': ev.tipo_evento.nombre === 'Congreso',
                                    'bg-amber-100 text-yellow-800': ev.tipo_evento.nombre === 'Vacaciones',
                                    'bg-cyan-100 text-teal-900': ev.tipo_evento.nombre === 'Conferencia',
                                    'bg-red-200 text-red-700': ev.tipo_evento.nombre === 'Capacitación',
                                    'bg-pink-200 text-pink-900': ev.tipo_evento.nombre === 'Personal',
                                    'bg-blue-200 text-blue-950 ': ev.tipo_evento.nombre === 'Otro'
                                }">
                                <span class="text-xs sm:text-sm md:text-base font-bold whitespace-nowrap">
                                    {{ ev.tipo_evento.nombre }}
                                </span>
                            </div>

                            <!-- Botón editar -->
                            <button
                                (click)="abrirModalEditarEvento(ev)"
                                class="bg-[#25BEC4] hover:bg-[#115153] rounded-xl shadow-md
                                        p-2 sm:p-2.5 md:p-3 transition-colors duration-300">
                                <img src="assets/icons/edit.svg" class="w-6 h-6 md:w-7 md:h-7" />
                            </button>

                            <!-- Botón eliminar -->
                            <button
                                (click)="abrirModalEliminar(ev.id_evento)"
                                class="bg-[#BC0E0E] hover:bg-[#600606] rounded-xl shadow-md
                                        p-2 sm:p-2.5 md:p-3 transition-colors duration-300">
                                <img src="assets/icons/cancelar.svg" class="w-6 h-6 md:w-7 md:h-7" />
                            </button>

                        </div>
                    </div>

                    <!-- Fecha y hora -->
                    <div class="space-y-2.5 sm:space-y-3 mb-4">

                        <!-- Fecha -->
                        <div class="flex items-center gap-2 sm:gap-3">
                            <svg class="w-5 h-5 sm:w-6 sm:h-6 text-neutral-600" fill="none" stroke="currentColor">
                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2" stroke-width="2" />
                                <line x1="16" y1="2" x2="16" y2="6" stroke-width="2" />
                                <line x1="8" y1="2" x2="8" y2="6" stroke-width="2" />
                                <line x1="3" y1="10" x2="21" y2="10" stroke-width="2" />
                            </svg>
                            <span class="text-neutral-600 text-sm sm:text-base">
                                {{ toLocalDate(ev.fecha_inicio) | date:'dd/MMM/yyyy':'':'es' }} -
                                {{ toLocalDate(ev.fecha_fin) | date:'dd/MMM/yyyy':'':'es' }}
                            </span>
                        </div>

                        <!-- Hora -->
                        <div class="flex items-center gap-2 sm:gap-3">
                            <svg class="w-5 h-5 sm:w-6 sm:h-6 text-neutral-600" fill="none" stroke="currentColor">
                                <circle cx="12" cy="12" r="10" stroke-width="2" />
                                <polyline points="12 6 12 12 16 14" stroke-width="2" />
                            </svg>

                            @if (ev.evento_todo_el_dia === 'si') {
                                <span class="text-neutral-600 text-sm sm:text-base">Todo el día</span>
                            } @else {
                                <span class="text-neutral-600 text-sm sm:text-base">
                                    {{ ev.hora_inicio }} - {{ ev.hora_fin }}
                                </span>
                            }
                        </div>

                    </div>

                    <!-- Notas -->
                    <p class="text-neutral-600 text-sm sm:text-base leading-relaxed">
                        {{ ev.notas || 'Sin Notas' }}
                    </p>

                </div>
                }

            </div>
        </div>

    </div>
</section>


<!-- MODAL PARA EDITAR HORARIO -->
@if (mostrarModalHorario()) {
    <app-modal-config-horario 
    (cerrar)="cerrarModal()">
    </app-modal-config-horario>
}

<!-- Modal -->
@if (modalEvento()) {
    <app-modal-evento
        [modoEdicion]="modoEdicion()"
        [idEventoEditar]="idEventoEditar"
        (cerrar)="cerrarModalEvento()"
        (guardar)="guardarEvento($event)"
    ></app-modal-evento>
}

@if (modalEliminarLD()) {
    <app-modal-confirmar-logdelete
        [visible]="modalEliminarLD()"
        (confirm)="confirmarEliminacion()"
        (cancel)="cerrarModalSD()"
        [titulo]="'Eliminar Evento'"
        [texto]="'¿Está seguro de eliminar este evento?'">
    </app-modal-confirmar-logdelete>
} 
