<div class="absolute left-32 top-0 h-full w-[29rem] flex items-center justify-center">
    
    <div class="absolute inset-0 bg-[#FFFFFF] rounded-2xl shadow-2xl"></div>

    <!-- Contenedor del login -->
    <div class="relative z-10 flex items-center justify-center">
        <div class="px-8 py-6 w-[26rem]">
            <div class="w-32 h-32 bg-[#25BEC4] rounded-full shadow-xl mx-auto relative mb-8">
                <img
                    src="assets/icons/dienteicon.svg"
                    alt="Ícono de diente"
                    class="absolute inset-0 m-auto w-20 h-20"
                />
            </div>
            
            <h1 class="text-xl font-semibold mb-2 text-center text-black">Hola, Bienvenido!</h1>
            <h2 class="text-lg font-regular mb-6 text-center text-black">Inicie sesión para continuar</h2>
            
            <form class="flex flex-col">
                <!-- Grupo inputs -->
                <div class="flex flex-col gap-4 mb-2">
                    <div>
                        <label class="block text-lg font-medium text-[#545454] mb-1">Correo</label>
                        <input
                            type="email"
                            placeholder="Ingresa tu correo"
                            class="w-full h-12 border border-gray-300 bg-zinc-300/30 rounded-lg p-2 pl-3 focus:ring-2 focus:ring-[#545454] focus:outline-none"
                            [(ngModel)]="correo"
                            name="correo"
                        />
                    </div>

                    <div class="relative">
                        <label class="block text-lg font-medium text-[#545454] mb-1">Contraseña</label>
                        <input
                            type="password"
                            appTogglePassword
                            placeholder="Ingresa tu contraseña"
                            class="w-full h-12 border border-gray-300 bg-zinc-300/30 rounded-lg p-2 pl-3 pr-12 focus:ring-2 focus:ring-[#545454] focus:outline-none"
                            [(ngModel)]="contrasena"
                            name="contrasena"
                        />
                    </div>

                    <a 
                    href="#" 
                    class="block text-left text-[#1D8F93] text-sm font-semibold underline tracking-wide italic hover:text-[#545454] transition-colors"
                    (click)="forgotPassw()"
                    >
                        ¿Olvidó su contraseña?
                    </a>
                </div>

                <!-- Grupo botones -->
                <div class="flex flex-col gap-4 mt-10">
                    <button
                    type="submit"
                    class="w-full h-14 bg-[#25BEC4] text-white text-xl font-bold py-2 rounded-lg shadow-xl hover:bg-[#1D8F93] transition-colors duration-200"
                    (click)="sendLogin()"
                    >
                        Iniciar Sesión
                    </button>

                    <label class="text-center text-lg font-semibold text-[#545454]"> O </label>

                    <button
                    type="submit"
                    class="w-full h-14 bg-zinc-300/30 text-[#545454] text-xl font-regular py-2 rounded-lg border-2 border-[#545454] shadow-lg
                            hover:bg-[#545454] hover:text-white transition-colors duration-200
                            flex items-center justify-center gap-8"
                    >
                        <img
                            src="assets/icons/google_logo.png"
                            alt="Google"
                            class="w-6 h-6"
                        />
                        <span>Continuar con Google</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>