<!-- seccion para la parte de arriba informativa -->
<section class="relative rounded-2xl py-6 px-6 md:py-8 md:px-10 w-full max-w-8xl bg-white mx-auto">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center w-full">
        
        <!-- Bloque de texto -->
        <div class="flex flex-col items-start space-y-4">
            <h1 class="text-[#1D8F93] text-4xl font-extrabold leading-tight">
                Mis Adeudos
            </h1>
            <p class="text-black text-2xl font-light">
                Consulta el estado de tus pagos pendientes
            </p>

        </div>

    </div>
</section>
