<!-- seccion para la parte de arriba informativa -->
<section class="relative rounded-2xl py-6 px-6 md:py-8 md:px-10 w-full max-w-8xl bg-white mx-auto">
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center w-full">
        
        <!-- Bloque de texto -->
        <div class="flex flex-col items-start space-y-4">
            <h1 class="text-[#1D8F93] text-4xl font-extrabold leading-tight">
                Mis Adeudos
            </h1>
            <p class="text-black text-2xl font-light">
                Consulta el estado de tus pagos pendientes
            </p>

        </div>

    </div>
</section>

<!-- TARJETAS DE ADEUDOS -->
<section class="w-full max-w-8xl mx-auto mt-4 px-6 grid grid-cols-1 md:grid-cols-2 gap-10 mb-12">

    <!-- TARJETA: TOTAL ADEUDADO -->
    <div class="bg-zinc-300/30 rounded-[10px] shadow-md p-6 relative h-44 flex justify-between items-center">
        
        <div>
            <h3 class="text-teal-900 text-3xl font-bold font-['Montserrat']">
                Total adeudado
            </h3>
            <p class="text-black text-5xl font-bold font-['Montserrat'] mt-4">
                $7,000.00
            </p>
        </div>

        <!-- Icono circular -->
        <div class="relative">
            <div class="w-32 h-32 bg-[#C3F2F3] rounded-full border-4 border-[#105053] flex items-center justify-center">
                <img src="assets/icons/signo-pesos-adeu.svg" alt="Signo de pesos" class="w-16 h-16">
            </div>
        </div>


    </div>

    <!-- TARJETA: SALDOS PENDIENTES -->
    <div class="bg-zinc-300/30 rounded-[10px] shadow-md p-6 relative h-72">

        <h3 class="text-teal-900 text-3xl font-bold font-['Montserrat']">
            Saldos pendientes
        </h3>

        <!-- Tarjeta interna -->
        <div class="bg-white rounded-[10px] border-l-[10px] border-amber-400 p-5 mt-6">

            <p class="text-neutral-600 text-2xl font-bold font-['Montserrat']">
                Ortodoncia <span class="text-neutral-600 text-xl">- Fecha de la cita</span>
            </p>

            <!-- Totales -->
            <div class="grid grid-cols-3 mt-6 justify-left">
                <div>
                    <p class="text-neutral-600 font-semibold">Total</p>
                    <p class="text-black text-xl font-bold">$10,500.00</p>
                </div>

                <div>
                    <p class="text-neutral-600 font-semibold">Pagado</p>
                    <p class="text-[#094309] text-xl font-bold">$3,500.00</p>
                </div>

                <div>
                    <p class="text-neutral-600 font-semibold">Pendiente</p>
                    <p class="text-[#530E0E] text-xl font-bold">$7,000.00</p>
                </div>
            </div>

        </div>
    </div>

</section>
