<!-- Fondo gris semi-transparente -->
<div class="absolute inset-0 bg-[#545454]/70 backdrop-blur-sm flex items-center justify-center">

    <!-- Contenedor del login (opaco) -->
    <div class="relative z-10 bg-white p-8 rounded-2xl shadow-xl w-[28rem]">
        
        <div class="w-32 h-32 bg-[#25BEC4] rounded-full shadow-xl mx-auto relative mb-6">
            <img
                src="assets/icons/dienteicon.svg"
                alt="Ícono de diente"
                class="absolute inset-0 m-auto w-20 h-20"
            />
        </div>
        
        <h1 class="text-2xl font-bold mb-4 text-center text-black">{{ titulo }}</h1>
        <p class="text-lg font-regular mb-6 text-center text-black">{{ descripcion }}</p>
        
        <form class="flex flex-col">
            <!-- Grupo inputs -->
            <div class="flex flex-col gap-8 mb-2">
                <div class="relative">
                    <label class="block text-lg font-medium text-[#545454] mb-1">{{ labelNueva }}</label>
                    <input
                        type="password"
                        [(ngModel)]="nueva"
                        name="nueva"
                        appTogglePassword
                        placeholder="Ingresa tu contraseña"
                        class="w-full h-12 border border-gray-300 bg-zinc-300/30 rounded-lg p-2 pl-3 pr-12 focus:ring-2 focus:ring-[#545454] focus:outline-none"
                    />
                </div>

                <div class="relative">
                    <label class="block text-lg font-medium text-[#545454] mb-1">{{ labelConfirmar }}</label>
                    <input
                        type="password"
                        [(ngModel)]="confirmar"
                        name="confirmar"
                        appTogglePassword
                        placeholder="Ingresa tu contraseña"
                        class="w-full h-12 border border-gray-300 bg-zinc-300/30 rounded-lg p-2 pl-3 pr-12 focus:ring-2 focus:ring-[#545454] focus:outline-none"
                    />
                </div>

                <button
                    type="button"
                    (click)="submitNewPassword()"
                    class="w-full h-14 bg-[#25BEC4] text-white text-xl font-bold py-2 rounded-lg shadow-xl hover:bg-[#1D8F93] transition-colors duration-200"
                >
                    Confirmar
                </button>

            </div>

        </form>

    </div>

</div>

