<section class="w-full max-w-8xl mx-auto px-8 py-6 md:py-10">
    <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-6">
        
        <!-- TITULO -->
        <div>
            <h1 class="text-[#1D8F93] text-5xl font-extrabold leading-none">
                Pacientes
            </h1>

            <p class="text-black text-3xl font-light mt-2">
                Gestión de Pacientes
            </p>
        </div>

        <!-- BOTON -->
        <button class="bg-[#C3F2F3] text-[#545454] text-xl md:text-2xl font-semibold tracking-wider rounded-xl shadow-lg 
                    px-16 py-4 hover:scale-105 transition-transform duration-300"
        >
            Nuevo Paciente
        </button>
    </div>
</section>
