<section class="w-full max-w-8xl mx-auto px-8 py-6 md:py-10">
    <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-6">
        
        <!-- TITULO -->
        <div>
            <h1 class="text-[#1D8F93] text-5xl font-extrabold leading-none">
                Finanzas
            </h1>

            <p class="text-black text-3xl font-light mt-2">
                Control de ingresos y gastos del consultorio
            </p>
        </div>

        <!-- BOTONES -->
        <button
            (click)="clickCaja()"
            class="flex items-center gap-4 bg-[#C3F2F3] text-[#545454] text-lg md:text-2xl font-semibold tracking-wider px-8 py-4 rounded-xl shadow hover:scale-105 transition">

            <img 
                [src]="corteAbierto ? 'assets/icons/cerrarcaja.svg' : 'assets/icons/abrircaja.svg'" 
                alt="Caja" class="w-8 h-8">

            {{ btnCajaTexto }}
        </button>

        <button
            [disabled]="ingresoDisabled"
            class="flex items-center gap-4 bg-[#CAFFCF] text-[#545454] text-lg md:text-2xl font-semibold tracking-wider px-8 py-4 rounded-xl shadow hover:scale-105 transition
                    disabled:opacity-40 disabled:cursor-not-allowed">
            <img src="assets/icons/agregar.svg" alt="Agregar Ingreso" class="w-8 h-8">
            Ingreso
        </button>

        <button (click)="abrirModalGasto()"
            class="flex items-center gap-4 bg-[#FFC8C8] text-[#545454] text-lg md:text-2xl font-semibold tracking-wider px-8 py-4 rounded-xl shadow hover:scale-105 transition">
            <img src="assets/icons/agregar.svg" alt="Agregar Ingreso" class="w-8 h-8">
            Gasto
        </button>
    </div>

    <!-- DASHBOARD CARDS -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-4">

        <!-- Tarjeta Ingresos -->
        <div class="bg-white rounded-xl shadow-md p-4 flex justify-between items-center">
            <div class="flex flex-col gap-6">
                <span class="text-black text-2xl font-semibold">Ingresos Totales</span>
                <span class="text-[#094309] text-2xl font-bold">$22,300.00</span>
            </div>
            <div class="bg-green-200 w-24 h-24 rounded-full flex justify-center items-center">
                <img src="assets/icons/ingreso.svg" alt="Ingresos" class="w-14 h-14">
            </div>
        </div>

        <!-- Tarjeta Gastos -->
        <div class="bg-white rounded-xl shadow-md p-4 flex justify-between items-center">
            <div class="flex flex-col gap-6">
                <span class="text-black text-2xl font-semibold">Gastos Totales</span>
                <span class="text-[#530E0E] text-2xl font-bold">${{ totalGastos | number:'1.2-2' }}</span>
            </div>
            <div class="bg-red-200 w-24 h-24 rounded-full flex justify-center items-center">
                <img src="assets/icons/egreso.svg" alt="Gastos" class="w-14 h-14">
            </div>
        </div>

        <!-- Tarjeta Ganancia Neta -->
        <div class="bg-white rounded-xl shadow-md p-4 flex justify-between items-center">
            <div class="flex flex-col gap-6">
                <span class="text-black text-2xl font-semibold">Ganancia Neta</span>
                <span class="text-[#105053] text-2xl font-bold">$20,270.00</span>
            </div>
            <div class="bg-[#B4DBDD] w-24 h-24 rounded-full flex justify-center items-center">
                <img src="assets/icons/ganancia-neta.svg" alt="Ganancia" class="w-12 h-12">
            </div>
        </div>

        <!-- Tarjeta Este Mes -->
        <div class="bg-white rounded-xl shadow-md p-4 flex justify-between items-center">
            <div class="flex flex-col gap-4">
                <span class="text-black text-2xl font-semibold">Este Mes</span>
                <span class="text-[#0B184B] text-2xl font-bold">$470.00</span>
                <span class="text-black text-base font-semibold">
                    Ing: ${{ 0 | number:'1.2-2' }} | Gas: ${{ totalGastosMes | number:'1.2-2' }}
                </span>

            </div>
            <div class="bg-[#C3F2F3] w-24 h-24 rounded-full flex justify-center items-center">
                <img src="assets/icons/ganancia-mensual.svg" alt="Mes" class="w-14 h-14">
            </div>
        </div>

    </div>
</section>

<section class="w-full max-w-8xl mx-auto px-6 py-8">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">

        <!-- ===================== HISTORIAL ===================== -->
        <div class="bg-zinc-300/30 rounded-lg shadow-lg flex flex-col h-[600px] overflow-hidden">
        
        <!-- Título -->
        <h2 class="text-teal-900 text-3xl font-bold font-['Montserrat'] px-4 py-4">Historial</h2>

        <!-- Barra de búsqueda -->
        <div class="px-4 mb-4">
            <div class="relative">
            <input
                type="text"
                placeholder="Buscar..."
                class="w-full pl-12 pr-4 py-3 rounded-xl border border-gray-300 shadow-sm text-lg focus:outline-none focus:ring-2 focus:ring-teal-600"
                
            />
            <img src="assets/icons/buscar.svg" class="w-6 h-6 absolute left-4 top-3 opacity-70" />
            </div>
        </div>

        <!-- Lista de transacciones -->
        <div class="flex-1 overflow-y-auto px-4 space-y-4">
            <!-- Tarjeta ingreso -->
            <div class="bg-white rounded-lg border-l-4 border-green-800 p-4 flex justify-between items-center">
            <div>
                <div class="text-neutral-600 text-xl font-bold font-['Montserrat']">Endodoncia - Carlos López</div>
                <div class="text-neutral-600 text-base font-normal font-['Montserrat'] mt-1">Tratamiento</div>
                <div class="text-neutral-600 text-sm font-normal font-['Montserrat'] mt-1">7 dic 2024 | Tarjeta de crédito</div>
            </div>
            <div class="text-right">
                <div class="bg-green-300 rounded-md px-2 py-1 text-green-950 font-bold text-sm font-['Poppins'] mb-1">Ingreso</div>
                <div class="text-green-950 text-2xl font-bold font-['Montserrat']">+$3,500.00</div>
            </div>
            </div>

            <!-- Tarjeta egreso -->
            <div class="bg-white rounded-lg border-l-4 border-red-700 p-4 flex justify-between items-center">
            <div>
                <div class="text-neutral-600 text-xl font-bold font-['Montserrat']">Material dental - Resinas</div>
                <div class="text-neutral-600 text-base font-normal font-['Montserrat'] mt-1">Materiales</div>
                <div class="text-neutral-600 text-sm font-normal font-['Montserrat'] mt-1">5 dic 2024</div>
            </div>
            <div class="text-right">
                <div class="bg-red-200 rounded-md px-2 py-1 text-red-950 font-bold text-sm font-['Poppins'] mb-1">Gasto</div>
                <div class="text-red-950 text-2xl font-bold font-['Montserrat']">-$1,200.00</div>
            </div>
            </div>

            <!-- Puedes repetir más tarjetas -->
        </div>

        </div>

        <!-- ===================== SALDOS PENDIENTES ===================== -->
        <div class="bg-zinc-300/30 rounded-lg shadow-lg flex flex-col h-[600px] overflow-hidden">

        <!-- Título -->
        <h2 class="text-teal-900 text-3xl font-bold font-['Montserrat'] px-4 py-4">Saldos pendientes</h2>

        <!-- Barra de búsqueda -->
        <div class="px-4 mb-4">
            <div class="relative">
            <input
                type="text"
                placeholder="Buscar..."
                class="w-full pl-12 pr-4 py-3 rounded-xl border border-gray-300 shadow-sm text-lg focus:outline-none focus:ring-2 focus:ring-teal-600"
                
            />
            <img src="assets/icons/buscar.svg" class="w-6 h-6 absolute left-4 top-3 opacity-70" />
            </div>
        </div>

        <!-- Lista de pacientes -->
        <div class="flex-1 overflow-y-auto px-4 space-y-4">
            <div class="bg-white rounded-lg border-l-4 border-amber-400 p-4 flex flex-col md:flex-row justify-between items-start md:items-center">
            <div class="flex-1">
                <div class="text-neutral-600 text-2xl font-bold font-['Montserrat']">Roberto Hernández</div>
                <div class="text-neutral-600 text-base font-normal font-['Montserrat'] mt-1">Ortodoncia</div>
                <div class="flex mt-2 space-x-4 text-neutral-600 text-base font-semibold font-['Montserrat']">
                <div>Total: $10,500.00</div>
                <div>Pagado: $3,500.00</div>
                <div>Pendiente: $7,000.00</div>
                </div>
            </div>
            <button class="mt-2 md:mt-0 bg-teal-600 text-white text-base font-bold font-['Poppins'] px-3 py-2 rounded-md shadow flex items-center gap-2">
                <div class="w-6 h-6 relative">
                <div class="w-3 h-5 absolute outline outline-2 outline-offset-[-1px] outline-white left-[6px] top-[2px]"></div>
                </div>
                Registrar Abono
            </button>
            </div>

            <!-- Repetir más pacientes -->

        </div>

        </div>

    </div>

</section>


<!-- Modal para agregar egreso -->
@if(modalGastoAbierto()) {
    <app-modal-ag-gasto
        (cerrar)="cerrarModalGasto()"
        (actualizar)="actualizarHistorial($event)">
    </app-modal-ag-gasto>
}

<!-- Modal para abrir la caja -->
@if (modalMontoInicial()) {
    <app-modal-monto-inicial
        (aceptar)="abrirCaja($event)"
        (cerrar)="modalMontoInicial.set(false)">
    </app-modal-monto-inicial>
}


