<div class="fixed inset-0 bg-black/70 flex justify-center items-center z-50">

    <div class="relative bg-white p-6 rounded-xl max-h-[90vh] overflow-y-auto w-[460px]">
        <div class="grid gap-0"> 
            <h2 class="text-3xl font-bold mt-2 mb-6 text-[#105053]">
                Agregar Nuevo Ingreso
            </h2>

            <!-- Servicio ligado al ingreso -->
            <div>
                <label class="block text-base font-medium text-[#545454] mb-1">
                    Servicio aplicado
                </label>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-select placeholder="Seleccione servicio" required [(ngModel)]="id_servicio" (selectionChange)="onServicioChange($event.value)">
                    
                    @for(serv of tiposServicio; track serv.id_servicio) {
                        <mat-option [value]="serv.id_servicio">
                        {{ serv.nombre }}
                        </mat-option>
                    }

                    </mat-select>
                </mat-form-field>
            </div>

            @if (servicioSeleccionado && servicioSeleccionado.tipo_cobro === 'unidad_anatomica') {
                <div class="mb-6">
                    <label class="block text-base font-medium text-[#545454] mb-1">
                    Cantidad de unidades
                    </label>
                    <input type="number" min="1" placeholder="Cantidad de dientes" 
                        [(ngModel)]="cantidad"
                        class="w-full h-12 border border-gray-300 bg-zinc-300/30 rounded-lg pl-3 p-2 focus:ring-2 focus:ring-[#545454] focus:outline-none" />
                </div>
            }


            <!-- BUSCADOR DE PACIENTE -->
            <div class="relative mb-6">
                <label class="block text-base font-medium text-[#545454] mb-1">
                    Paciente
                </label>

                <div class="relative">
                    <input
                        type="text"
                        class="w-full border border-gray-300 bg-zinc-300/30 rounded-lg px-4 py-3 pl-10 shadow-sm focus:ring-2 focus:ring-[#545454] focus:outline-none"
                        placeholder="Buscar paciente..."
                        [(ngModel)]="busquedaPaciente"
                        (input)="buscarPaciente()"
                    />

                    <!-- Icono lupa -->
                    <img src="assets/icons/buscar.svg"
                        class="w-5 h-5 absolute left-3 top-1/2 -translate-y-1/2 opacity-60">
                </div>

                <!-- LISTA DE RESULTADOS -->
                @if (mostrarLista && pacientesFiltrados.length > 0) {
                    <div
                        class="absolute z-20 bg-white border rounded-lg w-full mt-1 max-h-56 overflow-auto shadow-lg"
                    >
                        @for (p of pacientesFiltrados; track p.id_paciente) {
                            <div
                                (click)="seleccionarPaciente(p)"
                                class="px-4 py-2 hover:bg-[#C3F2F3] cursor-pointer text-base"
                            >
                                {{ p.nombre }} {{ p.apellido1 }} {{ p.apellido2 || '' }}
                            </div>
                        }
                    </div>
                }
            </div>

            <!-- Monto -->
            <div class="mb-6">
                <label class="block text-base font-medium text-[#545454]">Monto Total</label>
                <div class="relative">
                    <span class="absolute left-3 top-3 text-gray-600">$</span>
                    <input type="number" placeholder="Monto total" required [(ngModel)]="monto" min="1"
                        class="w-full h-12 border border-gray-300 bg-zinc-300/30 rounded-lg pl-7 p-2 focus:ring-2 focus:ring-[#545454] focus:outline-none" />
                </div>
            </div>

            <!-- Tipo de pago -->
            <div class="mb-6">
                <div class="flex flex-col gap-4">
                    <!-- Pago total -->
                    <label class="flex items-center gap-3 cursor-pointer">
                    <input 
                        type="radio" 
                        name="tipoPago" 
                        value="total" 
                        [(ngModel)]="tipoPago"
                        class="w-5 h-5 text-teal-600 border-gray-300 focus:ring-teal-500" />
                    <span class="text-neutral-600 text-base font-medium">Pago total</span>
                    </label>

                    <!-- Abono parcial -->
                    <label class="flex items-center gap-3 cursor-pointer">
                    <input 
                        type="radio" 
                        name="tipoPago" 
                        value="parcial" 
                        [(ngModel)]="tipoPago"
                        class="w-5 h-5 text-teal-600 border-gray-300 focus:ring-teal-500" />
                    <span class="text-neutral-600 text-base font-medium">Abono parcial</span>
                    </label>

                    <!-- Input condicional para monto del abono -->
                    @if (tipoPago === 'parcial') {
                    <div class="mt-2">
                        <div class="relative">
                        <span class="absolute left-3 top-3 text-gray-600">$</span>
                        <input 
                            type="number" 
                            placeholder="Monto del abono" 
                            [(ngModel)]="montoAbono"
                            min="1"
                            class="w-full h-12 border border-gray-300 bg-zinc-300/30 rounded-lg pl-7 p-2 focus:ring-2 focus:ring-[#0d9488] focus:outline-none" />
                        </div>
                    </div>
                    }
                </div>
            </div>

            <!-- Toggle varios metodos de pago -->
            <!-- Toggle dividir pago -->
            <div class="flex items-center gap-4 mt-1 mb-4">
                <label class="text-base font-medium text-[#545454]">
                    Dividir pago en más de un método
                </label>

                <button
                    (click)="toggleDividirPago()"
                    class="relative rounded-full transition"
                >
                    @if (dividirPago) {
                        <img src="assets/icons/on_switch.svg" class="w-16 h-10" />
                    } @else {
                        <img src="assets/icons/off_switch.svg" class="w-16 h-10" />
                    }
                </button>
            </div>

            <!-- Condicional: un solo método -->
            @if (!dividirPago) {
            <div>
                <label class="block text-base font-medium text-[#545454] mb-1">
                    Método de Pago
                </label>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-select placeholder="Seleccione método de pago" [(ngModel)]="id_metodo_pago" required>
                        @for (metodo of metodosPago; track metodo.id_metodo_pago) {
                            <mat-option [value]="metodo.id_metodo_pago">
                                {{ metodo.nombre }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            }

            <!-- Condicional: pagos divididos -->
            @if (dividirPago) {
            <div class="mb-6 space-y-4">
                @for (pago of pagosDivididos; track pago) {
                <div class="flex gap-4 items-stretch">
                    <!-- Select método -->
                    <mat-form-field appearance="outline" class="flex-1 h-12">
                        <mat-select placeholder="Método {{$index + 1}}" [(ngModel)]="pago.id_metodo_pago" required>
                            @for (metodo of metodosPago; track metodo.id_metodo_pago) {
                            <mat-option [value]="metodo.id_metodo_pago">
                                {{ metodo.nombre }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <!-- Input monto -->
                    <div class="relative flex-1">
                        <span class="absolute left-3 top-3 text-gray-600">$</span>
                        <input type="number" placeholder="Monto" min="1" [(ngModel)]="pago.monto"
                            class="w-40 h-12 border border-gray-300 bg-zinc-300/30 rounded-lg pl-7 p-2 focus:ring-2 focus:ring-[#0d9488] focus:outline-none" />
                    </div>

                    <!-- Botón eliminar -->
                    @if (pagosDivididos.length > 2) {
                        <button (click)="eliminarPago($index)"
                            class="p-2 h-12 bg-red-600 rounded-xl text-white font-semibold hover:bg-red-700">
                            <img src="assets/icons/trash.svg" class="w-8 h-8" />
                        </button>
                    }
                </div>
                }
                    <!-- Botón agregar -->
                    @if (pagosDivididos.length < 4) {
                    <button (click)="agregarPago()"
                        class="mt-2 px-4 py-2 bg-[#C3F2F3] rounded-lg shadow font-semibold text-[#545454] hover:bg-[#25BEC4] hover:text-white">
                        + Agregar
                    </button>
                    }
                    <div class="text-sm text-gray-600 mt-1">Min. 2, Max. 4</div>
                </div>
            }


            <!-- Fecha -->
            <div class="mb-6">
                <label class="block text-base font-medium text-[#545454] mb-1">Fecha</label>
                <input #fechaInput type="text" placeholder="Selecciona la fecha" required [(ngModel)]="fecha"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3 focus:ring-2 focus:ring-[#545454] focus:outline-none" />
            </div>


            <!-- Notas -->
            <div class="mb-6">
                <label class="block text-base font-medium text-[#545454] mb-1">Notas</label>
                <textarea placeholder="Notas Administrativas" rows="3" [(ngModel)]="notas"
                            class="w-full border border-gray-300 bg-zinc-300/30 rounded-lg p-3 focus:ring-2 focus:ring-[#105053] focus:outline-none resize-none"></textarea>
            </div>


    
            <div class="flex justify-end gap-4 mt-6">
                <button
                    class="px-6 py-2 bg-neutral-600 rounded-lg inline-flex justify-center items-center cursor-pointer hover:bg-[#9C9898]"
                    (click)="cancelar()"
                >
                    <span class="text-center text-white text-lg font-semibold tracking-wider">Cancelar</span>
                </button>

                <button
                    class="px-6 py-2 bg-[#1D8E92] rounded-lg inline-flex justify-center items-center cursor-pointer hover:bg-[#105053]"
                    
                >
                    <span class="text-center text-white text-lg font-semibold tracking-wider">Agregar</span>
                </button>
            </div>

        </div>
    </div>
</div>

