@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-poppins;
}

/* Para que los toasts se muestren siempre sobre todo */
#toast-container {
    @apply fixed top-4 right-4 z-[9999];
}

.toast-success {
    @apply bg-[#1D8F93] pr-12 pl-6 py-6 text-white text-lg font-semibold rounded-lg shadow-xl;
}

.toast-error  {
    @apply bg-[#962D2D] pr-12 pl-6 py-6 text-white text-lg font-semibold rounded-lg shadow-xl;
}

.toast-info {
    @apply bg-[#545454] pr-12 pl-6 py-6 text-white text-lg font-semibold rounded-lg shadow-xl;
}

.toast-warning {
    @apply bg-[#D9BE66] pr-12 pl-6 py-6 text-white text-lg font-semibold rounded-lg shadow-xl;
}

/* Estilo global para el botón de cerrar de todos los toasts */
.toast-close-button {
    @apply absolute top-2 right-4 text-white text-2xl font-bold hover:text-[#962D2D];
    background: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer;
}

/* Oculta la barra de scroll para que sea más limpio */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



