<footer class="bg-[#C3F2F3] text-black py-6">
    <div class="max-w-screen-xl mx-auto px-4 flex flex-col md:flex-row justify-between 
     items-center md:items-start gap-6 md:gap-12 text-center md:text-left footer-wrapper">


        <!-- Nombre del consultorio -->
        @if (auth.usuario(); as usuario) {
            <div class="md:min-w-[260px] footer-info-group">
                <p class="font-bold mt-4 text-base md:text-lg text-center">{{ usuario.consultorio?.nombre }}</p>
                <p class="text-md md:text-base text-center" appCopyright></p> 
            </div>

            <!-- Contacto del consultorio -->
            <div class="md:min-w-[240px] footer-info-group">
                <p class="text-md md:text-base font-bold">CONTACTO:</p>
                <p>
                    <span class="text-md md:text-base font-semibold">Teléfono:</span> +52 {{ usuario.consultorio?.telefono | telefono }}
                </p>
                <p><span class="text-md md:text-base font-semibold">Correo:</span> {{ usuario.consultorio?.correo }}</p>
            </div>
        }

        <!-- Redes sociales / mapas siempre visibles -->
        <div class="flex gap-6 mt-4 flex-shrink-0 justify-center md:justify-end footer-socials">

            @if (auth.usuario(); as usuario) {
                <a [href]="usuario.consultorio?.maps_url" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/maps.svg" alt="Mapas" title="MAPS" class="w-10 h-10 md:w-12 md:h-12 hover:scale-105 transition-transform duration-300" />
                </a>
                <a [href]="usuario.consultorio?.facebook_url" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/facebook.svg" alt="Facebook" title="FACEBOOK" class="w-10 h-10 md:w-12 md:h-12 hover:scale-105 transition-transform duration-300" />
                </a>
                <a [href]="usuario.consultorio?.instagram_url" target="_blank" rel="noopener noreferrer">
                <img src="assets/icons/instagram.svg" alt="Instagram" title="INSTAGRAM" class="w-10 h-10 md:w-12 md:h-12 hover:scale-105 transition-transform duration-300" />
                </a>
            }
        </div>
    </div>
</footer>

