<div class="relative bg-white p-8 rounded-xl w-full max-w-[90rem] mx-auto">
    <!-- GRID PRINCIPAL: 1 col en móvil, 2 col en md, 3 col en xl -->
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10">

        <!-- ============================
            COLUMNA 1 – Datos personales
        ============================ -->
        <div class="flex flex-col gap-6">
            <label class="text-xl font-semibold text-black">
                Datos del Paciente
            </label>

            <!-- Nombre -->
            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Nombre</label>
                <input type="text" name="nombre" placeholder="Ingresa el nombre" [(ngModel)]="nombre" required
                    autocomplete="off"
                    autocorrect="off"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <!-- Apellido paterno -->
            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Apellido Paterno</label>
                <input type="text" name="apellido1" placeholder="Ingresa el primer apellido" [(ngModel)]="apellido1" required
                    autocomplete="off"
                    autocorrect="off"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <!-- Apellido materno -->
            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Apellido Materno</label>
                <input type="text" name="apellido2" placeholder="Ingresa el segundo apellido" [(ngModel)]="apellido2"
                    autocomplete="off"
                    autocorrect="off"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <!-- Teléfono -->
            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Teléfono</label>
                <input type="text" name="telefono" placeholder="Ingresa teléfono" [(ngModel)]="telefono" required
                    autocomplete="off"
                    autocorrect="off"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Correo</label>
                <input type="email" name="correo" placeholder="Ingresa correo" [(ngModel)]="correo" required
                    autocomplete="off"
                    autocorrect="off"
                    disabled
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <!-- Fecha nacimiento -->
            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Fecha de nacimiento</label>
                <input 
                    #fechaInput 
                    name="fechaNacimiento" 
                    placeholder="Selecciona la fecha de nacimiento" 
                    [(ngModel)]="fechaNacimiento"
                    required
                    autocomplete="off"
                    autocorrect="off"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <!-- Sexo -->
            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Sexo</label>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-select name="sexo" required placeholder="Seleccione el sexo" [(ngModel)]="sexo">
                        <mat-option [value]="Sexo.MASCULINO">Masculino</mat-option>
                        <mat-option [value]="Sexo.FEMENINO">Femenino</mat-option>
                        <mat-option [value]="Sexo.OTRO">Otro</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- ============================
            COLUMNA 2 – Dirección
        ============================ -->
        <div class="flex flex-col gap-6">
            <label class="text-xl font-semibold text-black">
                Dirección del Paciente
            </label>

            
            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Calle</label>
                <input type="text" name="d_calle" required placeholder="Ingresa la calle" [(ngModel)]="direccion.calle"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Número de vivienda</label>
                <input type="text" name="d_num_exterior" required placeholder="Número" [(ngModel)]="direccion.num_exterior"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Colonia</label>
                <input type="text" name="d_colonia" required placeholder="Colonia" [(ngModel)]="direccion.colonia"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Código Postal</label>
                <input type="text" name="d_cp" required placeholder="CP" [(ngModel)]="direccion.cp"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Entidad Federativa</label>
                <input type="text" name="d_entidadfed" required placeholder="Entidad" [(ngModel)]="direccion.entidadfed"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Municipio</label>
                <input type="text" name="d_municipio" required placeholder="Municipio" [(ngModel)]="direccion.municipio"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

            <div>
                <label class="block text-base font-semibold text-[#115153] mb-1">Localidad</label>
                <input type="text" name="d_localidad" required placeholder="Localidad" [(ngModel)]="direccion.localidad"
                    class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
            </div>

        </div>

        <!-- ============================
            COLUMNA 3 – Tutor (si aplica)
        ============================ -->
        <div class="flex flex-col gap-6">
            <label class="text-xl font-semibold text-black">
                Datos del Tutor
            </label>   

            <!-- TUTOR -->
                <div>
                    <label class="block text-base font-semibold text-[#115153] mb-1">Nombre de Tutor</label>
                    <input type="text" name="tutor_nombre" placeholder="Nombre tutor" required [(ngModel)]="tutor.nombre"
                        autocomplete="off"
                        autocorrect="off"
                        [disabled]="!tieneTutor"
                        [ngClass]="{ 'opacity-50 cursor-not-allowed': !tieneTutor }"
                        class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
                </div>

                <div>
                    <label class="block text-base font-semibold text-[#115153] mb-1">Apellido Paterno Tutor</label>
                    <input type="text" name="tutor_apellido1" placeholder="Apellido1 tutor" required [(ngModel)]="tutor.apellido1"
                        autocomplete="off"
                        autocorrect="off"
                        [disabled]="!tieneTutor"
                        [ngClass]="{ 'opacity-50 cursor-not-allowed': !tieneTutor }"
                        class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
                </div>

                <div>
                    <label class="block text-base font-semibold text-[#115153] mb-1">Apellido Materno Tutor</label>
                    <input type="text" name="tutor_apellido2" placeholder="Apellido2 tutor" [(ngModel)]="tutor.apellido2"
                        autocomplete="off"
                        autocorrect="off"
                        [disabled]="!tieneTutor"
                        [ngClass]="{ 'opacity-50 cursor-not-allowed': !tieneTutor }"
                        class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
                </div>

                <div>
                    <label class="block text-base font-semibold text-[#115153] mb-1">Teléfono Tutor</label>
                    <input type="text" name="tutor_telefono" placeholder="Teléfono tutor" required [(ngModel)]="tutor.telefono"
                        autocomplete="off"
                        autocorrect="off"
                        [disabled]="!tieneTutor"
                        [ngClass]="{ 'opacity-50 cursor-not-allowed': !tieneTutor }"
                        class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
                </div>

                <div>
                    <label class="block text-base font-semibold text-[#115153] mb-1">Correo Tutor</label>
                    <input type="email" name="tutor_correo" placeholder="Correo tutor" [(ngModel)]="tutor.correo"
                        autocomplete="off"
                        autocorrect="off"
                        [disabled]="!tieneTutor"
                        [ngClass]="{ 'opacity-50 cursor-not-allowed': !tieneTutor }"
                        class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
                </div>

                <div>
                    <label class="block text-base font-semibold text-[#115153] mb-1">Relación con el paciente</label>
                    <input type="text" name="tutor_relacion" placeholder="Relación" required [(ngModel)]="tutor.relacion"
                        autocomplete="off"
                        autocorrect="off"
                        [disabled]="!tieneTutor"
                        [ngClass]="{ 'opacity-50 cursor-not-allowed': !tieneTutor }"
                        class="w-full h-12 border border-teal-600 bg-zinc-300/30 rounded-lg p-2 pl-3" />
                </div>

               <div class="flex flex-col md:flex-row md:flex-nowrap
            items-center 
            justify-center md:justify-start
            mt-2 md:mt-6 
            gap-4 md:gap-10 xl:gap-14">

    <!-- Switch -->
    <div class="flex items-center whitespace-nowrap">
        <span class="mr-2 text-[#115153] font-bold text-lg xl:text-xl">¿Tiene tutor?</span>
        <img 
            [src]="tieneTutor ? 'assets/icons/on_switch.svg' : 'assets/icons/off_switch.svg'"
            class="w-12 h-9 md:w-14 md:h-10 xl:w-16 xl:h-12 cursor-pointer"
            (click)="toggleTutor()" />
    </div>

    <!-- Botón -->
    <button
        type="button"
        class="px-5 py-3 text-white bg-[#1D8E92] rounded-lg inline-flex justify-center items-center cursor-pointer hover:bg-[#105053] whitespace-nowrap"
        (click)="actualizarPaciente()">
        <span class="text-center text-white text-base md:text-lg font-semibold tracking-wider">
            Actualizar datos
        </span>
    </button>

</div>



        </div>

</div>